%h3.section-title.mt-4  Actor
.row.mb-5
  .col-md-12
    .col-md-6
      = simple_form_for  :search, url: actors_path, :method => :get,  :html => {:multipart => true, :class => 'form-horizontal float-right'}, wrapper: :horizontal_input_group do |f|
        = f.input :search, input_html: { name: 'search'}
        .float-right.mr-4
          = f.submit

    .col-md-6
      - if current_admin.present?
        = link_to "Add actor", new_admin_actor_path, class: "btn btn-md btn-primary  float-right"

.row
  - @actors.each do |actor|
    .col-sm-6.col-md-3
      .latest-movie
        = link_to actor_path(actor) do
          - if actor.avatar.attached?
            = image_tag url_for(actor.avatar), style: "width:100% !important; height:200px !important;"
        %h5.section-title.text-center.mt-4
          = link_to actor.fullname, actor_path(actor)
        %p.text-center.bold
      - if current_admin.present?
        .row.mb-5
          .col-md-9{style: 'margin-left: 76px'}
            = link_to "Edit",   admin_actor_path(actor), class: 'btn btn-sm btn-info'
            = link_to "Destroy", admin_actor_path(actor), method: :delete,  class: 'btn btn-sm btn-danger',:data => {:confirm => 'Are you sure?'}
