.breadcrumbs
  = link_to "Home", dashboard_index_path
  %a{:href => "#"} #{@actor.fullname}

.content
  .row
    .col-md-6
      %figure.movie-poster
        = image_tag url_for(@actor.avatar), style: "width:100% !important; height:650px !important;"

    .col-md-6
      %h2.movie-title
        = @actor.fullname
      .movie-summary
        %p
          = @actor.biografi

      %ul.movie-meta
        %li
          %strong Born: #{born_helper(@actor.born)}

        %li
          %strong City: #{@actor.city}
