%h3.section-title  Latest Movie
.row.mb-5
  .col-md-12
    .col-md-6
      = simple_form_for  :search, url: movies_path, :method => :get,  :html => {:multipart => true, :class => 'form-horizontal float-right'}, wrapper: :horizontal_input_group do |f|
        = f.input :search, input_html: { name: 'search'}
        .float-right.mr-4
          = f.submit

    .col-md-6
      - if current_admin.present?
        = link_to "Add movie", new_admin_movie_path, class: "btn btn-md btn-primary float-right"

.row
  - @movies.each do |movie|
    .col-sm-6.col-md-3
      .latest-movie
        = link_to movie_path(movie) do
          = image_tag url_for(movie.cover), style: "width:100% !important; height:400px !important;"
        %h5.section-title.text-center.mt-4
          = link_to movie.title, movie_path(movie)
        %p.text-center.bold Rating #{movie.rating}/5
      - if current_admin.present?
        .row.mb-5
          .col-md-9{style: 'margin-left: 76px'}
            = link_to "Edit",   edit_admin_movie_path(movie), class: 'btn btn-sm btn-info'
            = link_to "Destroy", admin_movie_path(movie), method: :delete,  class: 'btn btn-sm btn-danger',:data => {:confirm => 'Are you sure?'}
