.breadcrumbs
  %a{:href => "index.html"} Home
  %a{:href => "#"} #{@movie.title}

.content
  .row
    .col-md-6
      %figure.movie-poster
        = image_tag url_for(@movie.cover), style: "width:100% !important; height:650px !important;"

    .col-md-6
      %h2.movie-title
        = @movie.title
      .movie-summary
        %p
          = @movie.sinopsis

      %ul.movie-meta
        %li
          %strong Rating: #{@movie.rating}

        %li
          %strong Duration: #{duration_helper(@movie.duration)}

        %li
          %strong Year: #{@movie.year}
        %li
          %strong Trailer link: #{@movie.trailer_link}

  - if @movie.actors.present?
    %h3.section-title.mt-4  Actor
    .row
      - @movie.actors.each do |actor|
        .col-sm-6.col-md-3
          .latest-movie
            = link_to actor_path(actor) do
              - if actor.avatar.attached?
                = image_tag url_for(actor.avatar), style: "width:100% !important; height:300px !important;"
            %h5.section-title.text-center.mt-4
              = link_to actor.fullname, actor_path(actor)



  %h3.section-title.mt-4  create comment
  .row.ml-4
    .col-md-12
      = simple_form_for  :comment, url: comment_movie_path, :method => :post,  :html => {:multipart => true, :class => 'form-horizontal'}, wrapper: :horizontal_input_group do |f|
        = f.input :caption, as: :text
        .float-right.mr-4
          = f.submit

  %h3.section-title.mt-4  comment List
  - @movie.comments.each do |comment|
    .row.mt-5
      .col-md-12
        .entry-content
          %h5
            comment 1
          %p.ml-3
            = comment.caption
          %p.ml-3
            at #{post_helper(comment.created_at)}
