.col-md-12
  = simple_form_for [:admin, @producer], :html => {:multipart => true, :class => 'form-horizontal'}, wrapper: :horizontal_input_group do |f|
    = f.input :fullname,  require: true
    = f.input :biografi, as: :text, require: true
    -# = f.input :born, as: :date,  require: true, include_blank: false
    = f.input :city, require: true
    = f.input :avatar, as: :file, require: true
    .form-group.float-right.mt-5
      = f.button :submit, class: 'btn btn-primary mr-2'
