.breadcrumbs
  %a{:href => "index.html"} Home
  %a{:href => "#"} #{@director.fullname}

.content
  .row
    .col-md-6
      %figure.movie-poster
        = image_tag url_for(@director.avatar), style: "width:100% !important; height:650px !important;"

    .col-md-6
      %h2.movie-title
        = @director.fullname
      .movie-summary
        %p
          = @director.biografi

      %ul.movie-meta
        %li
          %strong born: #{born_helper(@director.born)}

        %li
          %strong city: #{@director.city}
