.col-md-12
  = simple_form_for [:admin, @movie], :html => {:multipart => true, :class => 'form-horizontal'}, wrapper: :horizontal_input_group do |f|
    = f.input :title, require: true
    = f.input :year,  require: true
    = f.input :genre, as: :select, require: true, include_blank: false, input_html: {multiple: true, id:'select2-genre'}
    = f.input :duration,  require: true
    = f.input :sinopsis, as: :text,  require: true
    = f.input :rating, as: :integer,  require: true
    -# = f.association :actors, collection: Director.all.map{|p|[p.to_s, p.id]},input_html: {class: 'select2', id:'select2-director'}, require: true
    -# = f.association :actors, collection: Producer.all.map{|p|[p.to_s, p.id]},input_html: {class: 'select2', id:'select2-producer'}, require: true
    = f.association :actors, collection: Actor.all.map{|p|[p.to_s, p.id]},input_html: {class: 'select2', id:'select2-actor'}, require: true
    = f.input :cover, as: :file, input_html:{class: ' mb-1'}, require: true
    .form-group.float-right.mt-3
      = f.button :submit, class: 'btn btn-primary mr-2'
      = link_to 'Cancel', dashboard_index_path, class: 'btn btn-secondary'
      -# = link_to "Cancel", dashboard_index_path

= call_js_init("Admin.Movie.initForm();")
