%h3.section-title.mt-4  Producer
.row.mb-5
  .col-md-12
    .col-md-6
      = simple_form_for  :search, url: producers_path, :method => :get,  :html => {:multipart => true, :class => 'form-horizontal float-right'}, wrapper: :horizontal_input_group do |f|
        = f.input :search, input_html: { name: 'search'}
        .float-right.mr-4
          = f.submit

    .col-md-6
      - if current_admin.present?
        = link_to "Add producer", new_admin_producer_path, class: "btn btn-md btn-primary float-right"

.row
  - @producers.each do |producer|
    .col-sm-6.col-md-3
      .latest-movie
        = link_to producer_path(producer) do
          - if producer.avatar.attached?
            = image_tag url_for(producer.avatar), style: "width:100% !important; height:200px !important;"
        %h5.section-title.text-center.mt-4
          = link_to producer.fullname, producer_path(producer)
        %p.text-center.bold
      - if current_admin.present?
        .row.mb-5
          .col-md-9{style: 'margin-left: 76px'}
            = link_to "Edit",   edit_admin_producer_path(producer), class: 'btn btn-sm btn-info'
            = link_to "Destroy", admin_producer_path(producer), method: :delete,  class: 'btn btn-sm btn-danger',:data => {:confirm => 'Are you sure?'}
