.breadcrumbs
  %a{:href => "index.html"} Home
  %a{:href => "#"} #{@producer.fullname}

.content
  .row
    .col-md-6
      %figure.movie-poster
        = image_tag url_for(@producer.avatar), style: "width:100% !important; height:650px !important;"

    .col-md-6
      %h2.movie-title
        = @producer.fullname
      .movie-summary
        %p
          = @producer.biografi

      %ul.movie-meta
        %li
          %strong born: #{born_helper(@producer.born)}

        %li
          %strong city: #{@producer.city}
